body {
    background-color: #1E3339;
    color:white;
}

.row {
    --bs-gutter-x:0px !important;
}

.test {
    border-bottom: 1px solid black;
    height: 100px;
    border-radius: 0 0 167% 31%;
    background: white;
    padding-top: 2%;
}

a:hover {
    color: white;
}

a {
    color:white;
}

.test a {
    margin-left: 3%;
    text-decoration: none;
    color:black;
}

.account {
    display:none;
}

.beheer {
    display:none;
}

.return {
    display:none;
}

.table {
    color:white;
}

.rightbar {
    float: right;
    margin-right: 4%;
    margin-top: 50px;
    font-size: 16px;
    color: black;
    text-align: center;
}

.meldingen {
    width: 300px;
    background: white;
    height: 34%;
    border-radius: 20px;
    padding: 10px;
}

.newbooks {
    width: 300px;
    background: white;
    height: 39%;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
}

.newbooks a {
    color:black !important;
    text-decoration:none;
}

.text {
    width: 650px;
    font-size: 25px;
    margin-left: 13%;
    margin-top: 10%;
}

.foto {
    width: 650px;
    margin-left: 29%;
    margin-top: -90px;
}

.lid {
    width: 150px;
    background: white;
    text-align: center;
    color: black;
    border-radius: 20px;
    height: 60px;
    padding: 9px;
    font-size: 25px;
    font-weight: bold;
    margin-top: -145px;
    margin-left:15%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #1E3339;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius:20px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: white;
    }

tr.boeken {
    background: white;
    float: left;
    padding: 10px;
    margin: 1%;
    border-radius: 20px;
    color: black;
    width: 48%;
    height: 300px;
    overflow: hidden;
}

.table {
    float: left;
    margin-top: 25px;
}

.boekenlijst {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
    margin-top: 25px;
    font-weight: bold;
}

.boekfoto {
    height: 95%;
    max-width: 100%;
}

.boeken td {
    border: none !important;
    display: block;
}

.textboek {
    float: left;
    width: 50%;
    padding-left: 10px;
}

.fotoboek {
    float: left;
    width: 50%;
}

.filters {
    font-size: 20px;
    font-weight: normal;
    margin-right: 1%;
}

    .filters input.form-control {
        width: 20%;
        float: left;
        margin-left: 1%;
        height: 40px;
    }

    .filters select.form-select {
        width: 20%;
        float: left;
        margin-left: 1%;
        height: 40px;
    }

    .filters input[type="submit"] {
        width: 15%;
        float: left;
        margin-left: 1%;
        border-radius: 10px;
        height: 40px;
        border: 1px solid #ced4da;
    }

ul.pagination.justify-content-center {
    float: left;
    width: 100%;
}

.bookfoto {
    height: 100%;
    max-width:100%;
}

.boekinfo {
    width: 48%;
    float: left;
    margin-top: 3%;
    font-size: 26px;
}

.fotobook {
    height: 65%;
    width: 48%;
    float: left;
    text-align: center;
    margin-top: 3%;
}

.bookinfo {
    width: 48%;
}

.reserveren {
    margin-top:25px;
}

.reserverenbutton {
    border-radius:20px;
    padding:5px;
    width:200px;
}

.terug {
    margin-top: 2%;
    width: 80%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

    .terug a {
        text-decoration: none;
        font-size: 22px;
    }

.accountinfo {
    float: left;
    width: 25%;
    height: 100px;
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
}

.accountboeken {
    float: left;
    width: 74%;
    margin-top: 5%;
    background: white;
    color: black;
    border-radius: 20px;
    padding: 20px;
    height: 70%;
}

.tableaccountboeken {
    background: white;
    color: black;
    border-radius: 20px;
    width: 100%;
    font-size: 22px;
    height: fit-content;
}

.tableaccountboeken tr {
    height: 60px;
}

.tableaccountboeken tbody {
    vertical-align: baseline;
}

.accountboeken a {
    color: black;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 22px;
}

.switch {
    width: 60px;
}

.picture {
    max-width: 100%;
    max-height: 300px;
    display: block;
    object-fit: cover;
    margin-left:auto;
    margin-right:auto;
}

.profilepicture {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 50%;
    overflow:hidden;
}

.alert.alert-success {
    width: 300px;
    max-height:300px;
    float: right;
    text-align: center;
    margin-right: 2%;
}

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
}

    .popup h2 {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
    }

    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.reserverenform {
    text-align: center;
    width: 200px;
}

.reserverenform input[type="text"] {
    width:150px;
    border-radius:20px;
    text-align:center;
}

.reserverenform input[type="submit"] {
    border-radius:20px;
    margin-top:20px;
}

.content {
    border: 2px solid black;
    width: 200px;
    background: white;
    border-bottom-left-radius: 20px;
    margin-top: -28px;
    border-bottom-right-radius: 20px;
    padding-top: 50px;
    display: none;
    overflow: hidden;
}

.returnform {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background: white;
    border-radius: 20px;
    padding: 20px;
}

    .returnform form#myForm {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: black;
    }

.abbonement {
    width: 33%;
    float: left;
    text-align: center;
}

.abbonementen {
    margin-top:5%;
}

.abbonementen label {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    color: black;
    height: 300px;
    border-radius: 20px;
    padding: 10px;
}

.abbonementen input {
    display: none;
}

:checked + label {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    outline: 4px solid rgba(81, 203, 238, 1);
}

.selected {
    display:none;
}

:checked + label .selected {
    display: inherit !important;
    font-style: italic;
    font-weight: bold;
}

.count {
    display:none !important;
}

.abbonementinfo li {
    text-align: left;
}

.verder {
    text-align: center;
    margin-top: 22px;
}

    .verder button.btn.btn-block.btn-primary {
        margin-top:60px;
    }

.links {
    text-align: center;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top:2%;
}

.link {
    width: 14.5%;
    float: left;
    background: white;
    color: black;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 20px;
    padding: 10px;
    text-decoration:none;
}

a.link:hover {
    color:black !important;
    text-decoration:none;
}

.custom-file {
    font-size: 14px;
    margin-top: 3%;
}

.uploadfoto {
    border-radius: 10px;
    border: 0px;
    margin-top: 5px;
    background: #0d6efd;
    color: white;
    padding: 5px;
    font-size: 19px;
}

.beheerfield {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 20px;
    color: black;
    padding: 20px;
    text-align: center;
    height: 70%;
    margin-top: 2%;
}

.beheertable {
    color: black;
    width: 100%;
    font-size: 22px;
    margin-bottom: 3%;
}

    .beheertable tr {
        height: 60px;
        border-bottom:1px solid black
    }

    .beheertable tr:hover {
        cursor:pointer;
    }

.userpicture {
    width: 20%;
    float: left;
}

.userinfo {
    width: 65%;
    float: left;
    text-align: left;
    margin-left: 10%;
    font-size: 20px;
    line-height: 36px;
}

.beheerterug {
    text-align: left;
    margin-bottom: 25px;
}

.beheerterug a {
    color: black;
    text-decoration: none;
    text-align: left;
    font-size:21px;
    margin-left:20px;
}

.deletesubmit {
    border-radius: 10px;
    border: 0px;
    margin-top: 15px;
    background: #0d6efd;
    color: white;
    padding: 10px;
    font-size: 19px;
}

.editform {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

.bestand {
    font-size: 14px;
    margin-top: 10px;
}

.addmelding {
    text-align: left;
    padding: 10px;
    border: 1px solid black;
    width: fit-content;
    border-radius: 20%;
    background: #0d6efd;
    color:white;
}

.beheerfield a {
    text-decoration:none;
}
